/bin/Debug
*.vsidx
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/CodeChunks.db-wal
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/CodeChunks.db-shm
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-shm
.vs/AntiModdedTroll/CopilotIndices/17.14.1231.31060/SemanticSymbols.db-wal
.vs/AntiModdedTroll/v17/.suo
.vs/AntiModdedTroll/v17/DocumentLayout.json
